/* Estilos para o corpo e texto */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* Página inicial */
.container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Faz o container ocupar 100% da altura da viewport */
  text-align: center; /* Centraliza o texto */
  padding: 20px;
}

.text-center {
  text-align: center;
}

/* Estilos para a Topbar */
.topbar {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}

.topbar a:hover {
  color: #0056b3;
}

.topbar .button-login {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;
  display: inline-block;
}

.topbar .button-login:hover {
  background-color: #0056b3;
  color: white; /* Assegura que o texto permanece branco no hover */
}

/* Estilos para Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os itens à esquerda */
  width: 4.5rem;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
}

.nav-pills {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens dentro do nav-pills */
  width: 100%;
}

.nav-pills .nav-item {
  width: 100%;
}

.nav-pills .nav-link {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #e9ecef;
}

.sidebar-divider {
  border-top: 1px solid #d3d3d3;
  margin: 0 1rem;
}

.mt-auto {
  margin-top: auto;
}


.tooltip-inner {
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  padding: 10px 15px; /* Ajusta o padding */
}

.user-container {
  margin-top: auto;
  padding: 10px;
}

.user-icon {
  display: flex;
  align-items: center;
}

.user-icon svg {
  margin-right: 5px;
}

/* Estilos adicionais para o logo */

.sidebar img {
  display: block;
  margin: 0 auto 10px;
}

/* Estilos para botões */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}

/* Variações específicas para diferentes tipos de botões */
.button-login {
  background-color: #007bff;
}

.button-login:hover {
  background-color: #0056b3;
}

.button-register {
  background-color: #28a745;
}

.button-register:hover {
  background-color: #218838;
}

.button-save {
  background-color: #17a2b8;
}

.button-save:hover {
  background-color: #138496;
}

.button-delete {
  background-color: #dc3545;
}

.button-delete:hover {
  background-color: #c82333;
}

.btn-logout {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Estilos para formulários */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input, form select, form textarea {
  margin-bottom: 10px; /* Reduzido de 15px para 10px */
  padding: 8px; /* Reduzido de 10px para 8px */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input:focus, form select:focus, form textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilos para alertas */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 4px;
}

.alert-success {
  background-color: #4CAF50; /* Green */
}

.alert-info {
  background-color: #2196F3; /* Blue */
}

.alert-warning {
  background-color: #ff9800; /* Orange */
}

.alert-danger {
  background-color: #f44336; /* Red */
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
