.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 4.5rem;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .nav-pills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .nav-pills .nav-item {
    width: 100%;
  }
  
  .nav-pills .nav-link {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #f8f9fa;
  }
  
  .sidebar-divider {
    border-top: 1px solid #d3d3d3;
    margin: 0 1rem;
  }
  
  .sidebar .nav-link.active .sidebar-icon {
    fill: #007bff !important; 
  }
  
  .sidebar .nav-link.active {
    background: none !important;
  }
  
  .sidebar img {
    display: block;
    margin: 0 auto 10px;
  }
  